@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: rgba(8, 20, 37, 0.85);
}

body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white" stroke="none" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10" /></svg>'), auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

a{
  color: hsla(160, 100%, 37%, 1) !important;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white" stroke="none" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10" /></svg>'), auto
}


@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
  }
}

/************************************************/


.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: difference;
  z-index: 10000;
  border: 1.5px dashed #fff;
  height: 40px;
  width: 40px;
  transition: all 300ms ease-out;
  animation: animCursor 1s infinite alternate;
}

/* Changer la taille du curseur lorsqu'on survole un lien */
.cursor-grow {
  height: 80px;
  width: 80px;
}


.bulle {
  animation: animBulle .5s;
  background: #fff;
  border:  1px solid #fff;
}

@keyframes animCursor {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(0.7) rotate(90deg);
  }
}

@keyframes animBulle {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

section.resume-section {
	display: flex;
	align-items: center;
	/* padding-left: 1rem;
	padding-right: 1rem; */
	max-width: 75rem;
}

nav {
  background: #040b14;
  font-weight: 700;
}

#sideNav {
	padding-left: 1rem;
	padding-right: 1rem;
  text-align: center;
}

#sideNav .navbar-brand {
	display: flex;
	padding: 0.5rem 0;
}

.img-profile {
  width: 60%;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.profile-mobile {
  width: 30px;
  height: 30px;
  border: 0.2rem solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

.social-icons .social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #495057;
	color: #fff;
	border-radius: 100%;
	font-size: 1.5rem;
	margin-right: 1.5rem;
}

.social-icons .linkedin:hover {
  background-color: #040b14;
  color: #fff !important;
}

.social-icons .github:hover {
  background-color: #040b14;
  color: #fff !important;
}

.social-icons .facebook:hover {
  background-color: #040b14;
  color: #fff !important;
}

section.resume-section .resume-section-content {
	width: 100%;
}

.box {
    padding: 30px;
    background-color: rgba(4, 11, 20, 0.75);
    box-shadow: 0 2px 4px 0 #198754;
    border-radius: 10px;
}

.titre {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.2rem;
}

#btn-back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (min-width: 992px) {

  h1 {
    font-weight: 700;
    font-size: 4rem;
  }

  h2 {
    color: #198754;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5rem;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
  }

  p {
    font-weight: 600;
  }

  .contact {
    font-size: 1.2rem;
  }
  
  body {
    padding-top: 0;
    padding-left: 17rem;
  }

  #sideNav {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }

  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  section.resume-section {

  }

}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 60vh;
    }
}


/* Responsive pour écran mobile */

@media (max-width: 991.98px) {

    .social-icons .linkedin:hover {
        background-color: #040b14;
        color: #fff !important;
    }

    .social-icons .github:hover {
        background-color: #040b14;
        color: #fff !important;
    }

    .social-icons .facebook:hover {
        background-color: #040b14;
        color: #fff !important;
    }

    .titre {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .contact a {
        font-size: 1rem;
    }

    #btn-back-to-top {
        display: block;
    }
}

@media screen and (max-width: 768px){

    .contact {
        font-size: 1rem;
        display: block !important;
    }

    .contact p {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 1187px){

    .contact {
        font-size: 1.5rem;
        display: block !important;
    }

    .contact p {
        margin-bottom: 0 !important;
    }
}
